body{
  background-color: rgb(244, 243, 243);
}
div.about-us, h2,p {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
.about-us {
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  background-color: #19d101a5;
  border: 1px solid #000000;
}

/*Fyrir ofan er css fyrir um okkur*/
/*Fyrir neðan er css fyrir footerinn*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto 1fr; 
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
}

.social-media-icons { 
  grid-column: 1 / 3;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black; 
  padding-top: 15px;
  margin-bottom: 15px;

}

.social-media-icons img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.contact-us{
  font-size: small;
  grid-column: 1; 
  grid-row: 1; 
  border-right: 2px solid black; 
}

.address{
  font-size: small;
  grid-column: 2; 
  grid-row: 1; 
}

.address p {
  margin-bottom: 15px;
}
.contact-us p{
  margin-bottom: 10px;
}

.contactUs-h4{
  margin-top: 15px;
}

.address-h4{
  margin-bottom: 15px;
}


/*Hérna fyrir neðan er css fyrir Borderinum*/
.App {
  max-width: 375px; 
  height: 812px; 
  margin: 0 auto;
  border: 16px solid black;
  border-radius: 40px;
  overflow: auto; 
}

.App::-webkit-scrollbar {
  display: none; 
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

/*Hér fyrir neðan er css fyrir nemanda síðuna*/
.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin-bottom: 50%;
}

.book-title {
  font-size: 20px;
  color: #333;
  text-decoration: none;
}


.book-link {
  display: inline-block;
  width: 250px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border-color: #000000;
  border-style: solid;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 4%;
}

.book-link:hover {
  background-color: #a2a2a28a;
}
.welcome{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  font-size: 30px;
  color: #333;
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.books{
  border-radius: 20px;
  border-color: #000000;
  border-style: solid;
  margin: 5%;
  padding: 5%;
}

/*hérna fyrir neðan er css fyrir spurningarnar*/
