
.login-container {
    background-color: #19d101a5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    margin-top: 50px;
    margin-bottom: 250px;
}
.signup-container {
    background-color: #19d101a5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    margin-top: 50px;
    margin-bottom: 10px;
}

.Title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}